[Unit]
Description=Handheld Game Console Controller Service
After=graphical-session.target

[Service]
ExecStart=/sbin/python3 /usr/share/handygccs/scripts/handycon.py

[Install]
WantedBy=multi-user.target
