[Unit]
Description=Handheld Game Console Controller Service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/handycon

[Install]
WantedBy=multi-user.target
